@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

body {
    background: grey;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    position: relative;
    height: 95vh;
}
.header {
    width: 50%;
    padding: 1em;
    background: linear-gradient(45deg, #0021cb, #8900be);
    color: #FFF;
    font-family: "IM Fell French Canon", serif;
    font-size: 3em;
}

html, body {
    background: grey;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
}

.introduction {
    padding: 1em;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1%;
    border-color: #626262;
}
.footer {
    height: 20vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.est {
    width: 100%;
    text-align: center;
}

.geocities-bottom-lol {
    width: 100%;
    height: 35%;
    display: flex;
}

.images {
    background: #000;
    width: 7em;
    height: 3em;
    margin-right: 0.5%;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    
    
    
    
   
}

.ie {
    background: url(./img/ie.jpg);
}

.pee {
    background: url(./img/peepee.png);
}
