@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

body {
    background: grey;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
}
.header {
    width: 50%;
    padding: 1em;
    background: linear-gradient(45deg, #0021cb, #8900be);
    color: #FFF;
    font-family: "IM Fell French Canon", serif;
    font-size: 3em;
}

html, body {
    background: grey;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
}

.introduction {
    padding: 1em;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1%;
    border-color: #626262;
}